<footer>
  <p>Made with ❤️ in Berlin by <a href="https://www.github.com/giladt">Gilad Tsabar</a> and <a href="https://www.github.com/danp20">Daniel Parry</a></p>
  <p><a href="https://clearbit.com">Logos provided by Clearbit</a></p>
</footer>
