<section>
  <header class="search">
    <form action="/search" method="POST">
      <select name="location" id="location"></select>
      <input type="text" name="title" id="title" value="{{searchQuery.title}}" placeholder="Enter your desired title">
      <button type="submit">Search</button>
    </form>
  </header>
  <div class="container" id="job-list">
    {{#each data.jobs}}
      {{#unless this.inList}}
        {{> parJobDetails this }}
      {{/unless}}
    {{/each}}
  </div>
  <div class="container" id="jobs-map"></div>
</section>
<script>populateSearchboxLocation("{{searchQuery.location}}");</script>