<section onload="placeMarkers">
  <header class="search">
    <form action="/search" method="get">
      <input type="search" name="search_location" id="search_location" placeholder="Where?">
      <input type="search" name="search_title" id="search_title" placeholder="What?">
      <button type="submit">Search</button>
    </form>
  </header>
  <div class="container" id="job-list">
    {{#each data.jobs}}
      {{> parJobDetails this }}
    {{/each}}
  </div>
  <div class="container" id="jobs-map"></div>
</section>