  <section onload="placeMarkers">    
    <div class="container" id="job-list">
      {{#each data.jobs}}
        {{> parJobDetails this }}
      {{/each}}
    </div>
    <div class="container" id="jobs-map"></div>
  </section>
