body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .title {
    padding: 0 2rem;
    blockquote {
      font-size: 1.25rem;
      border-left: 3px solid gray;
      padding-left: 1rem;
      margin-left: 1rem;
    }
  }
}

.card {
  margin: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: -2px 2px 5px 1.5px rgba(128, 128, 128, 0.75);
  padding: 1rem;
  display: flex;
  background-color: white;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  
  h1, h2, h3 {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }

  figure {
    display: flex;
    flex: 0;
    margin: 0 0.5rem;
    justify-content: center;
    align-self: center;
    
    width: 125px;
    height: 125px;

    img {
      width: inherit;
      border-radius: 15%;
    }
  }
  
  .info {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px dashed black;

    .status span {
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      border: 1px dashed black;
      border-radius: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }

    .status span:nth-child(1).active {
      font-weight: bold;
      background-color: yellowgreen;
    }
    .status span:nth-child(2).active { 
      font-weight: bold;
      background-color: yellow;
    }
    .status span:nth-child(3).active { 
      font-weight: bold;
      background-color: orange;
    }
    .status span:nth-child(4).active { 
      font-weight: bold;
      background-color: red;
      color: white;
    }
    .status span:nth-child(5).active { 
      font-weight: bold;
      background-color: grey;
      color: white;
    }

  }
}

.card:hover {
  background-color: #f2ebeb;
}


.controls {
  // display: flex;
  // flex: 1;
  max-width: 10rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  margin-right: -1rem;

  a {
    width: 100%;
    height: 2.5rem;
    box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.35);
    background: rgba(128,128,128,0.25);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-right: -1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  a:hover {
    background-color: #d0d0d0;
    top: 1px;
    position: relative;
    left: 1px;
  }
}

header {
  display: flex;
  padding-left: 2rem;
  justify-content: space-between;
  height: 7.25vh;
  border-bottom: 0.25vh solid #abddff;
}

nav {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

nav, .left {
  display: flex;
  align-items: center;
  flex: 1;
}

.left h1 {
  flex: 1;
}

.search {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;}

.search form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input, select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: clamp(250px, 100%, 400px);
    border: none;
    border-bottom: 1px dashed black;
  }

  input:hover, input:focus ,
  select:hover, select:focus {
    background-color: rgba(128,128,128,0.25);
    border: none;
    border-bottom: 1px solid black;
  }
  
  button {
    width: 25rem;
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: 2px 2px 5px 1px rgba(128, 128, 128, 0.5);
  }

  button:hover {
    background-color: rgba(128,128,128,0.75);
  }

  button:active {
    box-shadow: 0px 0px 7px 1px rgba(128,128,128,0.5);
    position: relative;
    top: 2px;
    left: 2px;
  }

  button:focus {
    border: none;
    outline: 1px dashed gray;
    outline-offset: -5px;
  }
}


nav a {
  min-width: 5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #00B7FF;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  margin: 0 0.5rem;
  align-items: center;
  justify-content: center;
  height: 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  display: flex;
  flex-wrap: wrap;
  height: 72.5vh;
}

.container {
  width: 50%;
  margin: 0;
  min-width: 500px;
}

.full {
  height: 91.75vh;
  overflow: auto;
  padding: 0 2rem 0 0;
  border-right: 2px solid rgba(64,64,64,1);

  img {
    width: 150px;
  }

  .header {
    display: flex;

    >div {
      flex-direction: column;
      align-self: center;
      flex: 1;
    }
  }

  .info {
    margin: 0 3rem;
  }
}


#job-list {
  height: 100%;
  overflow-y: auto;
  background-color: rgb(180, 205, 226);
}

.auth {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 150px; }
  
.auth-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: 5rem;
  border-radius: 0.5rem;
  margin: 2rem;
  box-shadow: 0 0 5px 3px rgba(128, 128, 128, 0.5);
  padding: 1rem;  }
       
.auth-forms button {
  min-width: 5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #00B7FF;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  margin: 0.5rem 0.5rem;
  color: white;
  font-weight: bold; }





  
.dash-card {
  margin: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: -2px 2px 5px 1.5px rgba(128, 128, 128, 0.75);
  padding: 1rem;
  display: flex;
  background-color: white;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  
  h1, h2, h3 {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }

  figure {
    display: flex;
    flex: 0;
    margin: 0 0.5rem;
    justify-content: center;
    align-self: center;
    
    width: 125px;
    height: 125px;

    img {
      width: inherit;
      border-radius: 15%;
    }
  }
  .info {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px dashed black;
  }

  .dash-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    

    

    a {
      width: 4rem;
      height: 2.5rem;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
      background: rgba(128,128,128,0.25);
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      border-radius: 1rem 0 0 1rem;
      padding: 0 0.5rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    a:hover {
      background-color: #d0d0d0;
      top: 1px;
      position: relative;
      left: 1px;
    }
  }
}
  